.container {
  background: linear-gradient(45deg, rgb(255, 255, 255) 0%, rgb(224, 230, 233) 50%, rgb(255, 255, 255) 100%);
  max-width: 600px;
  padding: 50px;
  margin: 30px auto;
  box-shadow: 0px 0px 50px 5px rgb(160, 160, 160);
  position: relative;
  border: 10px solid rgb(154, 186, 216);
  border-radius: 5px;
}

#submit-btn {
  float: right;
  /* background-color: rgb(154, 186, 216); */
}

.container.wrong {
  border-color: rgb(207, 120, 120);
}