<div class="container" [ngClass]="{'wrong': wrongCredentials}">
  <form (submit)="login()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" [(ngModel)]="username"
        autocomplete="off">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"
        [(ngModel)]="password">
    </div>
    <button id="submit-btn" type="submit" class="btn btn-primary">Login</button>
    <br>
    <div *ngIf="wrongCredentials">
      <br><br>
      <div class="alert alert-danger">
        Wrong credentials, please check your username and/or password.
      </div>
    </div>
  </form>
</div>
