<div class="container">
  <div class="row">
    <div class="col-10">
      <h2>Issue report</h2>
    </div>
    <div class="col-2">
      <div id="logo"></div>
    </div>
  </div>
  <hr>
  <form [formGroup]="issueForm" (ngSubmit)="onSubmit()" *ngIf="!submitted && !loading && !error">
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="summary">Summary:</label>
          <input type="text" id="summary" class="form-control" [formControl]="summary" [class.submitted]="submitted"
            autocomplete="off">
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" [formControl]="description" id="description" rows="8" [class.submitted]="submitted"></textarea>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="screenshots">Screenshots:</label>
          <input type="file" id="screenshots" multiple (change)="onScreenshotChange($event)" #screenshotsInput accept="image/*">
          <div class="file-upload" [ngClass]="{'ng-valid': screenshots.valid, 'ng-invalid': screenshots.invalid}">
            <button class="btn btn-secondary" type="button" (click)="screenshotsInput.click()">Upload screenshots</button>
            <button class="btn btn-secondary" type="button" (click)="onTakeScreenshot()">Capture current page</button>
          </div>
          <p> ( {{ screenshots.value.length }} file{{ screenshots.value.length > 1 ? 's' : '' }} selected )</p>
        </div>
        <div *ngIf="screenshotsToUpload.length > 0" id="screenshots-preview">
          <div *ngFor="let url of screenshotsToUpload; let i = index" class="img">
            <img [src]="url" class="img-preview">
            <button type="button" class="close img-remove" aria-label="Close" (click)="onImgRemove(i)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="priority">Priority level:</label>
          <select class="form-control" id="priority" [formControl]="priority">
            <option selected value="0">Lowest ( default )</option>
            <option value="1">Low</option>
            <option value="2">High</option>
            <option value="3">Highest</option>
          </select>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="issueType">Issue type:</label>
          <select id="issueType" class="form-control" [formControl]="issueType">
            <option selected value="0">Bug ( default )</option>
            <option value="1">Story</option>
            <option value="2">Epic</option>
          </select>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="issueForm.invalid || issueForm.prestine">Submit</button>
    <button class="btn btn-info" (click)="logout()">Logout</button>
    <button class="btn btn-warning" type="button" (click)="onReset()">Reset</button>
  </form>
  <div *ngIf="loading" id="loading">
    <div class="circle"></div>
  </div>
  <h2 id="submitted" *ngIf="submitted">Submitted !</h2>
  <h4 id="error" *ngIf="error">There seems to be a problem...
    Please try again...</h4>
  <!-- <br>
  <hr>
  <button (click)="showValue()">Show Value</button><span> ( used for testing )</span>
  <br>
  <button (click)="JIRAcreateIssue()">JIRA create Issue</button><span> ( used for testing )</span> -->
</div>
