button[type="submit"] {
  float: right;
}

input[type="file"] {
  display: none;
}

hr {
  border-top-color: rgba(63, 63, 63, 0.3);
}

#description,
#summary,
select {
  resize: none;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-radius: 0px;
  background-color: rgb(240, 240, 240);
  transition: all ease-in-out 0.2s;
}

#summary:focus,
#description:focus {
  outline: none;
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-bottom: none;
  box-shadow: inset 0px 0px 10px 0px rgb(122, 122, 122);
  transition: all ease-in-out 0.2s;
}

select:focus {
  box-shadow: none;
  background-color: rgb(240, 240, 240);
}

#logo {
  display: block;
  height: 50px;
  width: 50px;
  background-image: url('../../assets/vistaprint_logo.png');
  float: right;
  background-position: center;
  background-size: cover;
}

#screenshots-preview {
  padding: 10px;
  margin: 15px auto;
}

#loading {
  padding: 30px;
}

.circle {
  border: 12px solid #ccc;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-top-color: rgb(76, 107, 207);
  border-left-color: rgb(76, 107, 207);
  animation: spin 2s ease-in-out infinite;
}

#submitted {
  color: green;
}

#error {
  color: red;
}

.container {
  background: linear-gradient(45deg, rgb(255, 255, 255) 0%, rgb(224, 230, 233) 50%, rgb(255, 255, 255) 100%);
  max-width: 800px;
  padding: 50px;
  margin: 30px auto;
  box-shadow: 0px 0px 50px 5px rgb(160, 160, 160);
  position: relative;
  border-bottom: 10px solid rgb(154, 186, 216);
}

.ng-invalid:not(form) {
  border-right: 10px solid rgb(177, 87, 87);
  transition: border 0.5s;
}

.ng-valid:not(form) {
  border-right: 10px solid rgb(77, 153, 77);
  transition: border 0.5s;
}

.img {
  display: inline-block;
  margin: 5px;
}

.img-preview {
  height: 60px;
  margin: 2px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.file-upload {
  border-radius: 0px;
  padding: 10px;
  background-color: rgb(240, 240, 240);
}

.btn {
  margin: 5px;
}

.alert {
  margin: 10px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-top-color: rgb(152, 167, 219);
    border-left-color: rgb(152, 167, 219);
  }

  50% {
    border-top-color: rgb(70, 180, 48);
    border-left-color: rgb(70, 180, 48);
  }

  100% {
    transform: rotate(360deg);
    border-top-color: rgb(152, 167, 219);
    border-left-color: rgb(152, 167, 219);
  }
}
