@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
  font-family: 'PT Sans', sans-serif;
}

html {
  margin: none;
  padding: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

body {
  margin: none;
  padding: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #000;
}